/* body { 
    background-image: url("../images/curtain\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10;
   
  }  */

  
 div.card-img-overlay {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7; 
}


div.card-img-overlay h1, div.card-img-overlay h3 {
    font-weight: bolder;
    color: #000000;
    margin-top: 20px;
} 