/* body { 
    background-image: url("../images/blue-3d-modern-background-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
  } */

.navbar {
  background-image: url("../images/blue-burst-abstract-bg-1024x768.png");
  height: 190px;
}

.theme-image {
  height: 380px;
  width: 350px;
  float: left;
  margin-top: 50px;
  margin: 20px;
  margin-left: 20px;
  box-shadow: 20px 20px 15px grey;
}

#movie-image {
  margin-left: 30px;
}

#pop-culture-image {
  border: 1px solid black;
}

#movie-image,
#music-image,
#pop-culture-image,
#tv-image {
  margin-top: 50px;
}

.theme-image:hover {
  filter: brightness(150%);
}

img {
  box-shadow: 10px 10px 5px grey;
}

#theme-header {
  width: 100%;
}

.card {
  margin-left: 270px;
}

div.card-img-overlay {
  margin: 40px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
}

div.card-img-overlay h1,
div.card-img-overlay h3 {
  font-weight: bolder;
  color: #000000;
  margin-top: 20px;
}

#little-mad-libs-face {
  width: 50px;
  height: 40px;
  margin-top: 10px;
}

.theme-container {
  margin-top: -5px;
  margin-bottom: 20px;
}

.theme-image {
  height: 380px;
  width: 350px;
  float: left;
  margin-top: 50px;
  margin: 20px;
  margin-left: 20px;
}

.card-footer {
  background-image: url("../images/blue-burst-abstract-bg-1024x768.png");
}
