
/* body { 
    background-image: url("../images/blue-3d-modern-background-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
  } */

.theme-container a {

}

.theme-image {
  height: 350px;
  width: 500px;
  float: left;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 5px;
  margin-bottom: 40px;
  border-radius: 5%;
  box-shadow: 20px 20px 15px grey;

}

.theme-image:hover {
  filter: brightness(150%); 
}

img {
    box-shadow: 10px 10px 5px grey;
}

img:hover {
    opacity: 0.6;
}

#theme-header{
  width: 100%;
}


div.card-img-overlay {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7; 
}


div.card-img-overlay h1, div.card-img-overlay h3 {
    font-weight: bolder;
    color: #000000;
    margin-top: 20px;
}

h1, h3 {
    margin-top: 10px;
}


.theme-container {
    float: left;
    margin-top: -5px;
    /* margin-left: 150px; */
    margin-bottom: 20px;
    background-image: url("../images/blue-3d-modern-background-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* 
#pop-culture-image{
    margin-left: 220px;
} */




